.profile-wrapper {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 25px 0;
    .profile-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .info-left {
                .greeting {
                    font-size: 60px;
                    font-weight: 1000;
                    padding: 10px;
                }
                .about-me {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                }
                .links {
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    .links__item {
                        padding: 10px;
                    }
                }
            }
            .info-right {
                
                .profile-picture {
                    width: 300px;
                    height: 300px;
                    object-fit:cover;
                    border-radius: 99999px;
                }
            }
        }
     .tech-stack {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tech-stack__item {
            height: 60px;
            width: 60px;
        }
        .tech-stack__item * {
            border-radius: 5px;
        }
     }   
    }
}