.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    font-size: 25px;
    box-shadow: rgba(0,0,0,0.34) 0px -5px 10px -10px;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1280px;
        .reserved {
            font-size: 18px;
        }
        .links {
            display: flex;
            flex-direction: row;
            padding: 10px;
            .links__item {
                padding: 10px;
                border-radius: 99999px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s;
                color: black;
              }
              .links__item:hover {
                background-color: rgb(226, 218, 218, .5);
              }
              .links__item:active {
                transform: scale(.95);
              }
        }
    }   
}



       