@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');  

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #1C1D20;
  color: white;
  display: block;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}
