@import './themes/breakpoints.scss';
@import './themes/themes.scss';
@import './themes/reset.scss';



body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    ::selection {
        background: rgb(226, 116, 65); /* Цвет фона */
       }
}

html {
    /* 10px */
    font-size: 62.5%; //10px
  }

  @media (max-width: 768px) {
    html {
      /* 8px */
      font-size: 50%; //8px
    }
  }