@import './themes/breakpoints.scss';
@import './themes/themes.scss';
@import './themes/reset.scss';



body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}