.work-main-wrapper {
    max-width: 1400px;
    margin: auto;
    margin-top: 120px;
  }
  
  .work-featured-wrapper {
    margin: auto;
    margin-top: 120px;
    max-width: 1200px;
  }
  
  .work-featured-wrapper a.left-text {
    color: white;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 136.364% */
  }
  
  .work-featured-section {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    display: block;
  }
  
  .work-one,
  .work-two,
  .work-three {
    display: flex;
    padding: 15px;
    border-top: 1px solid #1C1D20;
    border-bottom: 1px solid #1C1D20;
    transition: 0.3s;
  }
  
  .work-one:hover,
  .work-two:hover,
  .work-three:hover {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  
  .work-image {
    border-radius: 15px;
    width: 246px;
    height: 180px;
    flex-shrink: 0;
  }
  
  .workfeed-info {
    padding: 15px;
    padding-left: 50px;
  }
  
  .work-heading {
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 5  00;
    line-height: normal;
    padding: 0;
  }
  
  .work-properties {
    display: flex;
  }
  
  .work-date {
    color: grey;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 15px 15px 15px 0px;
  }
  
  .work-spec {
    color: grey;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 15px 15px 0px;
  }
  
  .work-lorem {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 700px;
  }