.item-profile-main-wrapper {
    max-width: 1200px;
    margin: auto;
  }
  
  .item-profile-greetings {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin: 100px;
  }
  
  .item-profile-about-me h1 {
    color: white;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
    max-width: 500px;
    margin: 15px 0 15px 0;
  }
  
  .item-profile-about-me h3 {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 550px;
    margin: 25px 0 25px 0;
  }
  
  .item-profile-p-image {
    height: 20%;
    width: 20%;
    flex-shrink: 0;
    border-radius: 235px;
  }
  
  .item-profile-cv-button {
    border: solid rgb(247, 108, 8);
    border-radius: 3px;
    background: rgb(247, 108, 8);
    margin-top: 30px;
    width: 210px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.4s;
  }
  
  .item-profile-cv-button:hover {
    border: solid grey;
    border-radius: 3px;
    background: grey; 
    color: black;
  }