.work-feed-featured-wrapper {
    margin: auto;
    margin-top: 120px;
    max-width: 1200px;
  }
  
  .work-feed-featured-wrapper a.work-feed-left-text {
    color: white;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 136.364% */
  }

  .work-feed-featured-section {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    display: block;
  }