.work-one {
  display: flex;
  padding: 15px;
  border-top: 1px solid #1C1D20;
  border-bottom: 1px solid #1C1D20;
  transition: 0.5s;
}

.work-one:hover {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.work-image {
  border-radius: 15px;
  width: 246px;
  height: 180px;
  flex-shrink: 0;
}

.work-info {
  padding: 15px;
}

.work-heading {
  color:white;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
}

.work-properties {
  display: flex;
}

.work-date {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 15px 15px 15px 0px;
}

.work-spec {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 15px 15px 0px;
}

.work-lorem {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 700px;
}
