.marquee-wrapper {
    gap: 1rem;
}
.marquee {
    padding: 0 0 1.5rem 0; 
    .rfm-overlay {
        z-index: 5;
    }  
    .marquee-item {
        padding: 1rem 2rem;
        margin: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 99999px;
        border: 1px solid rgb(235, 226, 226);
        transition: .5s;
        .marquee-item__name {
            font-size: 3rem;
            font-weight: 800;
            text-align: center;
            padding: 0 2rem 0 0;
        }
        .marquee-item__pictures {
            display: flex;
            justify-content: space-around;
            * {
                gap: 1.5rem;
                height: 4rem;
                width: 4rem;
                border-radius: 1rem;
                padding: 0 0.5rem;
            }
        }
        
    }

    .marquee-item:hover {
        border: 1px solid rgb(124, 121, 121);
    }
}