.about-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .about__picture {
        height: 500px;
        width: 500px;
        transition: .5s;
    }
    @media (max-width: 1200px) { 
        .about__picture {
            display: none;
        }
    }
    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        .about-info__name {
            font-size: 45px;
            font-weight: 1000;
            text-wrap: nowrap;
        }
        .about-info__text {
            padding: 5px;
            font-size: 20px;
            font-weight: 500;
        a {
            color: rgb(57, 57, 231);
            text-decoration: underline;
        }
        .first-span {
            color: rgb(243, 134, 84);
        }
        .second-span {
            color: rgb(211, 185, 173);
            font-style: italic;
        }
        }
    }

}
@media (max-width: 1200px) {
    .about-wrapper {
        margin: 5rem auto;
        width: calc(100vw - 2rem);
        .about-info {
            font-size: 20rem;
            text-align: center;
            width: 100%;
            .about-info__name {
                font-size: 5rem;
            }
            .about-info__text {
                font-size: 3rem;
                padding: 2rem;
            }
        }
       
    }
}