.works-carousel-wrapper {
    margin: 50px 0 0;
    height: 1000px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .works-carousel {
        padding: 20px 0;
        margin: 0 auto;
        width: 1280px;
        display: flex;
        flex-direction: row;
        gap: 100px;
        .carousel-caption {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .carousel-name {
                padding: 20px 0;
                font-size: 60px;
                font-weight: 800;
            }
            .carousel-description {
                font-size: 25px;
                font-weight: 800;
            }
        }
        .carousel-logo {
          padding: 0;
          transition: .5s;
        }
        .carousel-logo:active {
          transform: rotate(-1deg);
        }
    }
    .works-slicker {
        width: 1580px;
        margin: 0 auto;
        height: 600px;
        .swiper {
            width: 100%;
            height: 100%;
            --swiper-pagination-bullet-inactive-color: white;
            --swiper-pagination-color: rgb(243, 134, 84);
            --swiper-pagination-bullet-inactive-opacity: .8;
          }
       
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: rgba(36, 36, 36, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            color: white;
          }
          
          .autoplay-progress {
            position: absolute;
            right: 16px;
            bottom: 16px;
            z-index: 10;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: white;
          }
          
          .autoplay-progress svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: white;
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
          }

          .worklist-item-wrapper {
            color: white;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
           .title {
            font-size: 45px;
            padding: 20px;
           }
           .worklist-tech {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            .worklist-tech__logo-wrapper {
              height: 60px;
              width: 100px;
              padding: 0 15px;
            }
            .worklist-tech__logo {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
           }
           .subtitle {
            font-size: 25px;
            margin: 30px;
            height: 230px;
            display: flex;
            align-items: center;
           }  
           .bottom-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 40px;
            padding: 15px;
            margin-bottom: 40px;
            font-size: 18px;
            border-radius: 99999px;
            border: 1px solid white;
            transition: .5s;
          }    
          }
          .worklist-item-wrapper:hover {
            .bottom-button {
              background-color: white;
              color: black;
            }
          }
          .worklist-item-wrapper:active {
            .bottom-button {
              transform: scale(.95);
            }
          }
    }
}
