.article-container {
    width: 700px;
    margin: 0 auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background-color);
    .article-title {
        display: flex;
        font-size: 35px;
    }
    .article-info {
        display: flex;
        color: gray;
        .article-date {
            padding: 0 10px;
        }
        .article-spec {
            display: flex;
            padding: 0 5px;
            gap: 5px;
            .article-item {
                padding: 0 10px;
                background-color: black;
                color: white;
                border: 1px solid black;
                border-radius: 15px;
            }
        }
    }
    .article-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0;
        align-items: center;
        .article-content {
            display: flex;
            text-align: justify;
            margin-bottom: 15px;
        }
        .article-picture {
            width: 100%;
            margin: 15px 0;
        }
    }
}


